* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	color: #fff;
	background: #333;
	line-height: 1.6em;
}

a {
	color: #fff;
	text-decoration: none;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

#container {
	width: 980px;
	margin: 40px auto;
	overflow: hidden; /*https://css-tricks.com/the-css-overflow-property/*/
}

#slider {
	/*set height and width same as that of the images. In future versions or this code, try using some code which will resize the images dynamically. 
	*/
	width: 940px;
	height: 350px;
	position: relative; /*http://alistapart.com/article/css-positioning-101*/
	overflow: hidden; /*hidden because we want only one slide/image to appear at a time.*/
	float: left; /*https://css-tricks.com/all-about-floats/*/
	padding: 3px;
	border: #666 solid 2px;
	border-radius: 5px;
}

#silder img {
	/*This is same as the size of each slide/image. Later, make this change automatically when screen size changes.*/
	width: 940px;
	height: 350px;
}

#prev, #next {
	float: left;
	margin-top: 130px;
	cursor: pointer;
	position: relative;
	z-index: 100;
}

