* {
	margin: 0;
	padding: 0;
}

body {
	color: #666;
	font-size: 13px;
	background: #f4f4f4;
	font-size: "Arial", sans-serif;
}

#container {
	margin: 15px auto;
	text-align: center;
	width: 900px;
	position: relative;
}

.slide img {
	width: auto;
	height: 200px;
}

.thumb {
	width: auto;
	height: 40px;
}

ul {
	list-style: none;
	display: inline;
}
