* {
	margin: 0;
	padding: 0;
}

body {
	color: #666;
	font-size: 13px;
	background: #f4f4f4;
	font-size: "Arial", sans-serif;
}

#container {
	margin: 15px auto;
	text-align: center;
	width: 900px;
	position: relative;
}

a, a:visited {
	color: #0196e3;	
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

p {
	padding-top: 10px;
	text-align: center;
}

#slider {
	-moz-box-shadow: 0 0 3px #aaaaaa;
	-webkit-box-shadow: 0 0 3px #aaaaaa;
	box-shadow: 0 0 3px #aaaaaa;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	background: url("../img/panel.jpg") repeat-x bottom center #ffffff; /*repeat horizontally.*/
	width: 900px;
	overflow: hidden;
}

.slide img {
	width: auto;
	height: 200px;
}

.thumb {
	width: auto;
	height: 40px;
}

ul {
	list-style: none;
	display: inline;
}
