
/*Set css for all body elements. We can override them for an any element if needed.*/
body * {
	padding: 0px;
	margin: 0px;
}

.que {
	padding: 5px;
	border: 1px solid black;
	margin:0px;
}

.ans {
	padding: 5px;
	border: 1px solid black;
	display: none; /*visibility:hidden will not help. There will be gaps between questions.*/
}

