
/*Set css for all body elements. We can override them for an any element if needed.*/
body * {
	padding: 0;
	margin: 0;
}

#container {
	width: 60%;
	margin: 0 auto;
}

.que {
	padding: 5px;
	border: 1px solid black;
	margin:0px;
	background-color: rgba(140, 140, 140, 0.3);
	border-radius: 10px;
}

.que * {
	display: inline;
}

.ans {
	padding: 5px;
	border: 1px solid black;
	display: none; /*visibility:hidden will not help. There will be gaps between questions.*/
	background-color: rgba(193, 193, 193, 0.1);
	border-radius: 10px;
}

@media(max-width: 500px) {
	#container {
		width: 90%;
	}
}
