
/*Set css for all body elements. We can override them for an any element if needed.*/
body * {
	padding: 0px;
	margin: 0px;
}

.que {
	padding: 5px;
	border: 1px solid black;
	margin:0px;
	background-color: rgba(63, 191, 63, 0.7);
	width: 500px;
}

.ans {
	padding: 5px;
	border: 1px solid black;
	display: none; /*visibility:hidden will not help. There will be gaps between questions.*/
	background-color: rgba(0, 0, 0, 0.1);
	width: 500px;
}

